jupyterhub:
  hub:
    nodeSelector:
      cloud.google.com/gke-nodepool: core-pool
    baseUrl: /ea-hub/
    annotations:
      prometheus.io/scrape: "true"
      # this needs to start with the value of `hub.baseUrl`
      prometheus.io/path: /ea-hub/hub/metrics
    resources:
      requests:
        cpu: 200m
        memory: 256Mi
      limits:
        cpu: 200m
        memory: 256Mi
  singleuser:
    image:
      # tag will be set by travis on deployment
      name: earthlabhubops/ea-k8s-user-ea-hub
      tag: set-on-deployment
    # number of users on each n1-standard-8 node in the user pool should
    # be driven by the amount of memory given to them, so we set the
    # CPU guarantee quite low. 15 users with 2GB each should fill up a
    # node. This corresponds to roughly 0.5 cores per user -> go a bit
    # below that to be sure
    cpu:
      guarantee: 0.4
      limit: 2
    memory:
      guarantee: 2G
      limit: 4G
    lifecycleHooks:
      postStart:
        exec:
          command:
            - "sh"
            - "-c"
            - >
              gitpuller https://github.com/earthlab-education/earth-analytics-fall-2018 master homework-templates;
  proxy:
    nodeSelector:
      cloud.google.com/gke-nodepool: core-pool
    service:
      type: ClusterIP
    chp:
      resources:
        requests:
          cpu: 200m
          memory: 128Mi
        limits:
          cpu: 200m
          memory: 128Mi
  ingress:
    enabled: true
    hosts:
      - hub.earthdatascience.org
    annotations:
      nginx.ingress.kubernetes.io/proxy-body-size: 64m
      kubernetes.io/ingress.class: nginx
      kubernetes.io/tls-acme: "true"
    tls:
      - secretName: kubelego-tls-jupyterhub
        hosts:
          - hub.earthdatascience.org

  auth:
    admin:
      access: true
      users:
        - betatim
        - lwasser
        - jlpalomino
    whitelist:
      users:
        - earth-lab
        - mgraber
        - windnage
        - shwh2628
        - mlevis1
        - katysill
        - yojihigh
        - rbenzeev
    type: github
    github:
      callbackUrl: "https://hub.earthdatascience.org/ea-hub/hub/oauth_callback"
